In [1]:
#Don't forget to save your work to your local computer and push to GitHub.
#File -> Download as -> Notebook
#Move file from download folder to local repo clone
#git add filename.ipynb
#git commit -m "put a specific and informative message here of what you worked on"
#git push

# Import and Prepare Dataset - Birth and Preterm Birth - Response Variable

In this section:  
Import data; rename to long_data (in long format)   
Remove irrelevant values for "condition" (e.g. "second trimester pregnancy" is too vague)    
Convert datetime cells to date only

## Import dataset

In [2]:
import pandas
import pandas as pd
import os
import numpy as np
import time

# This query represents dataset "Concept Set Exploration" for domain "condition" and was generated for All of Us Controlled Tier Dataset v7
dataset_87730747_condition_sql = """
    SELECT
        c_occurrence.person_id,
        c_standard_concept.concept_name as standard_concept_name,
        c_occurrence.condition_start_datetime 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.condition_occurrence` c_occurrence 
        WHERE
            (
                condition_concept_id IN  (
                    SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (
                            select
                                cast(cr.id as string) as id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                            WHERE
                                concept_id IN (
                                    36712702, 4014295, 432441, 44784550, 45757175, 45757176
                                ) 
                                AND full_text LIKE '%_rank1]%'
                        ) a 
                            ON (
                                c.path LIKE CONCAT('%.',
                            a.id,
                            '.%') 
                            OR c.path LIKE CONCAT('%.',
                            a.id) 
                            OR c.path LIKE CONCAT(a.id,
                            '.%') 
                            OR c.path = a.id) 
                        WHERE
                            is_standard = 1 
                            AND is_selectable = 1
                        )
                )  
                AND (
                    c_occurrence.PERSON_ID IN (
                        SELECT
                            distinct person_id  
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                        WHERE
                            cb_search_person.person_id IN (
                                SELECT
                                    criteria.person_id 
                                FROM
                                    (SELECT
                                        DISTINCT person_id,
                                        entry_date,
                                        concept_id 
                                    FROM
                                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                                    WHERE
                                        (
                                            concept_id IN (
                                                SELECT
                                                    DISTINCT c.concept_id 
                                                FROM
                                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                                                JOIN
                                                    (
                                                        select
                                                            cast(cr.id as string) as id 
                                                        FROM
                                                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                                                        WHERE
                                                            concept_id IN (36712702, 45757176, 4014295) 
                                                            AND full_text LIKE '%_rank1]%'
                                                    ) a 
                                                        ON (
                                                            c.path LIKE CONCAT('%.',
                                                        a.id,
                                                        '.%') 
                                                        OR c.path LIKE CONCAT('%.',
                                                        a.id) 
                                                        OR c.path LIKE CONCAT(a.id,
                                                        '.%') 
                                                        OR c.path = a.id) 
                                                    WHERE
                                                        is_standard = 1 
                                                        AND is_selectable = 1
                                                    ) 
                                                    AND is_standard = 1 
                                            )
                                        ) criteria 
                                    ) ))
                        ) c_occurrence 
                    LEFT JOIN
                        `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_standard_concept 
                            ON c_occurrence.condition_concept_id = c_standard_concept.concept_id"""

dataset_87730747_condition_df = pandas.read_gbq(
    dataset_87730747_condition_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_87730747_condition_df.head(5)

Downloading:   0%|          | 0/390805 [00:00<?, ?rows/s]

,person_id,standard_concept_name,condition_start_datetime
0,1663536,Preterm labor in second trimester with preterm...,2021-06-24 03:17:27+00:00
1,2062232,Preterm labor in second trimester with preterm...,2020-01-08 18:33:00+00:00
2,6043769,Preterm labor in second trimester with preterm...,2017-03-03 22:11:00.101000+00:00
3,2659141,Preterm labor in second trimester with preterm...,2018-07-11 07:04:00.100000+00:00
4,3249899,Preterm labor in second trimester with preterm...,2016-08-17 06:00:00+00:00

## Rename dataset
Rename and inspect dataset  
Data in long format (multiple rows per person_id)

In [3]:
raw_birth_data = dataset_87730747_condition_df
print(raw_birth_data.info)
raw_birth_data.sample(3)

<bound method DataFrame.info of         person_id                              standard_concept_name  \
0         1663536  Preterm labor in second trimester with preterm...
1         2062232  Preterm labor in second trimester with preterm...
2         6043769  Preterm labor in second trimester with preterm...
3         2659141  Preterm labor in second trimester with preterm...
4         3249899  Preterm labor in second trimester with preterm...
...           ...                                                ...
390800    1430760                          Third trimester pregnancy
390801    3317844                          Third trimester pregnancy
390802    2061429                          Gestation period, 8 weeks
390803    4382057                          Third trimester pregnancy
390804    2814607                          Third trimester pregnancy

               condition_start_datetime
0             2021-06-24 03:17:27+00:00
1             2020-01-08 18:33:00+00:00
2      2017-03-03 22:11:00.101000+00:00
3      2018-07-11 07:04:00.100000+00:00
4             2016-08-17 06:00:00+00:00
...                                 ...
390800        2019-01-25 11:08:00+00:00
390801        2019-07-30 08:00:00+00:00
390802        2019-10-24 14:20:15+00:00
390803        2022-02-09 15:06:00+00:00
390804        2022-03-16 15:04:00+00:00

[390805 rows x 3 columns]>

        person_id       standard_concept_name  condition_start_datetime
247919    3467065   First trimester pregnancy 2019-06-28 04:00:00+00:00
13089     7840124  Gestation period, 41 weeks 2017-10-06 04:20:55+00:00
4454      3286225  Gestation period, 38 weeks 2020-12-29 05:59:59+00:00

## Drop irrelevant concepts from standard_concept_name

Review values of standard_concept_name and remove irrelevant entries (too vague, not used in analysis, e.g. "gestation less than 20 weeks")

In [4]:
#unique_values = raw_birth_data['standard_concept_name'].unique()

#print("List of all possible values for column 'standard_concept_name':")
#for value in unique_values:
    #print(value)

#Prepare list of values to drop    
values_to_drop = ['Gestation less than 20 weeks', 'Gestation less than 9 weeks']
values_to_drop += ['Finding of length of gestation', 'Gestation less than 24 weeks']
values_to_drop += ['First trimester pregnancy', 'Second trimester pregnancy', 'Third trimester pregnancy']

# Use the 'drop' method to remove rows with specific values in 'standard_concept_name'
raw_birth_data = raw_birth_data[~raw_birth_data['standard_concept_name'].isin(values_to_drop)]

#This filtered df is created by making a boolean list of values_to_drop found in the column 'standard_concept_name'
#The tilde switches this from True to False so that we are applying the opposite of the boolean list to the df
#in order to create the new df

In [5]:
#Convert condition_start_datetime and end_datetime cells to contain only date information and not time, 
#as time is irrelevant to most of our calculations

# Convert the datetime column to a datetime type
raw_birth_data.loc[:,'condition_start_datetime'] = pd.to_datetime(raw_birth_data['condition_start_datetime'])

#Create a new date only column
raw_birth_data.loc[:,'condition_start_date'] = raw_birth_data['condition_start_datetime'].dt.date

#print("New column condition_start_date without time")
raw_birth_data.sample(3)

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,person_id,standard_concept_name,condition_start_datetime,condition_start_date
330645,2496773,"Gestation period, 8 weeks",2019-04-22 04:00:00+00:00,2019-04-22
194304,1256294,Single live birth,2014-03-06 05:00:00+00:00,2014-03-06
50404,1849161,"Gestation period, 17 weeks",2020-03-24 04:00:00+00:00,2020-03-24

# Remove duplicate entries

Remove duplicates of person_id, birth_concept, and condition_start_date.

In [6]:
birth_concepts = ['Single live birth', 'Preterm spontaneous labor with preterm delivery', 'Term pregnancy', 
                  'Preterm labor in second trimester with preterm delivery in second trimester', 
                  'Preterm labor in third trimester with preterm delivery in third trimester',
                  'Preterm labor with preterm delivery'
                 ]
# Step 1: Create a subset of raw_birth_data where standard_concept_name includes only those values in birth_concepts
subset_birth_concepts = raw_birth_data[raw_birth_data['standard_concept_name'].isin(birth_concepts)]

# Step 2: Remove duplicates that have the same person_id and condition_start_date
subset_birth_concepts_no_duplicates = subset_birth_concepts.drop_duplicates(subset=['person_id', 'condition_start_date'], keep='first')

# Step 3: Recombine df with the subset of raw_birth_data where standard_concept_name includes only those values NOT in birth_concepts
subset_not_birth_concepts = raw_birth_data[~raw_birth_data['standard_concept_name'].isin(birth_concepts)]
combined_data = pd.concat([subset_not_birth_concepts, subset_birth_concepts_no_duplicates], ignore_index=True)

filtered_birth_data = combined_data.copy()

print(filtered_birth_data.info)
filtered_birth_data.sample(20)

<bound method DataFrame.info of         person_id                              standard_concept_name  \
0         1839526                         Gestation period, 27 weeks
1         1252623                         Gestation period, 27 weeks
2         6928661                         Gestation period, 27 weeks
3         1449784                         Gestation period, 27 weeks
4         1424008                         Gestation period, 27 weeks
...           ...                                                ...
173722    2335434  Preterm labor in third trimester with preterm ...
173723    1210649  Preterm labor in third trimester with preterm ...
173724    1155370  Preterm labor in third trimester with preterm ...
173725    2493897  Preterm labor in third trimester with preterm ...
173726    2292698  Preterm labor in third trimester with preterm ...

               condition_start_datetime condition_start_date
0             2021-06-07 00:00:00+00:00           2021-06-07
1             2021-05-26 05:36:12+00:00           2021-05-26
2             2022-03-22 04:41:44+00:00           2022-03-22
3             2019-07-30 09:54:37+00:00           2019-07-30
4             2017-04-13 04:56:02+00:00           2017-04-13
...                                 ...                  ...
173722        2019-11-07 05:00:00+00:00           2019-11-07
173723        2015-09-26 16:37:00+00:00           2015-09-26
173724        2018-09-14 19:15:56+00:00           2018-09-14
173725 2017-10-16 20:41:00.101000+00:00           2017-10-16
173726        2017-08-06 11:57:00+00:00           2017-08-06

[173727 rows x 4 columns]>

,person_id,standard_concept_name,condition_start_datetime,condition_start_date
104739,2664211,"Gestation period, 34 weeks",2021-06-24 05:59:59+00:00,2021-06-24
37002,1498714,"Gestation period, 39 weeks",2016-08-27 00:16:00+00:00,2016-08-27
130852,2918566,"Gestation period, 8 weeks",2020-09-11 04:00:00+00:00,2020-09-11
128925,3558461,"Gestation period, 8 weeks",2021-09-22 01:23:13+00:00,2021-09-22
111271,2315905,"Gestation period, 31 weeks",2018-03-22 04:00:00+00:00,2018-03-22
137730,1340163,Preterm labor in second trimester with preterm...,2017-06-09 04:00:00+00:00,2017-06-09
159555,3085714,Single live birth,2008-06-02 17:30:00+00:00,2008-06-02
151789,1154541,Single live birth,2021-12-15 23:47:00+00:00,2021-12-15
90747,1724104,"Gestation period, 40 weeks",2015-12-13 06:00:00+00:00,2015-12-13
171258,1095139,Single live birth,2016-04-13 04:00:00+00:00,2016-04-13
56257,7105247,"Gestation period, 36 weeks",2020-04-17 05:00:00+00:00,2020-04-17
105141,3012970,"Gestation period, 34 weeks",2022-01-07 05:00:00+00:00,2022-01-07
115777,2549148,"Gestation period, 30 weeks",2021-03-17 04:00:00+00:00,2021-03-17
33267,1060081,"Gestation period, 39 weeks",2021-04-15 05:00:00+00:00,2021-04-15
47260,6645027,"Gestation period, 29 weeks",2016-05-02 05:00:00+00:00,2016-05-02
103392,2360056,"Gestation period, 34 weeks",2016-12-18 17:37:00+00:00,2016-12-18
92321,2551182,"Gestation period, 40 weeks",2018-02-14 07:22:33+00:00,2018-02-14
59756,2518241,"Gestation period, 20 weeks",2018-07-26 04:00:00+00:00,2018-07-26
135246,3245464,"Gestation period, 8 weeks",2019-09-10 05:00:00+00:00,2019-09-10
11629,3419158,"Gestation period, 38 weeks",2022-03-29 06:00:00+00:00,2022-03-29

## Explore remaining entries 
- Making sure above filter is working 
- Instances of duplicate person_id and standard_concept_name that differ in condition_start_datetime (how far apart occurring?)
    - Need to discriminate between these and accurate entries after calculating conception and gestational age further in notebook

# Calculate conception date based on observations of gestational length
Use entries of 'standard_concept_name' to calculate date of conception. (ex. Gestation 8 weeks, Gestation 38 weeks).  

In this section:  
- Create a dictionary to view how many times different 'standard_concept_name's are used in the dataset to see which we will need to use for calculations.

- Create a loop to calculate conception date for every instance of 'Gestation period, x weeks' entry in 'standard_concept_name' and populate new column called "conception_date".

- Explore conception date variances / reasons / how to handle discrepancies. 

Note: Through this process I found that because of issues with medical records, our most accurate approach is to start with the most recent medical record of gestation period, e.g. 40 weeks, then look for 39 weeks, and so on. If we start with 8 weeks for example, then we sometimes label a birth as over-term by weeks or months because the instance of 8 week gestation length was for a miscarriage, and then no further records available until the next birth.

## Create a dictionary to store standard_concept_names and record how often each one is used in df

In [7]:
#view all entries for standard_concept_name

#Create a dictionary to store concept names
concept_dict = {}

#Iterate through column 'standard_concept_name' 
for concept in filtered_birth_data['standard_concept_name']:
    if concept in concept_dict:
        concept_dict[concept] += 1
    else:
        concept_dict[concept] = 1

#print nicely
for key, value in concept_dict.items():
    print(f'{key}: {value}')

Gestation period, 27 weeks: 2563
Gestation period, 38 weeks: 9384
Gestation period, 41 weeks: 1333
Gestation period, 15 weeks: 1493
Gestation period, 14 weeks: 1509
Gestation period, 9 weeks: 39
Gestation period, 26 weeks: 2440
Gestation period, 18 weeks: 3506
Gestation period, 13 weeks: 2482
Gestation period, 35 weeks: 6198
Gestation period, 39 weeks: 12126
Gestation period, 22 weeks: 2541
Gestation period, 29 weeks: 2848
Gestation period, 24 weeks: 56
Gestation period, 42 weeks: 18
Gestation period, 17 weeks: 1822
Gestation period, 36 weeks: 8688
Gestation period, 20 weeks: 4013
Gestation period, 33 weeks: 4885
Gestation period, 23 weeks: 2219
Gestation period, 21 weeks: 2622
Gestation period, 25 weeks: 2077
Gestation period, 12 weeks: 4600
Gestation period, 37 weeks: 9435
Gestation period, 40 weeks: 5774
Gestation period, 16 weeks: 2068
Gestation period, 11 weeks: 3704
Gestation period, 34 weeks: 5816
Gestation period, 19 weeks: 3468
Gestation period, 30 weeks: 3415
Gestation period, 31 weeks: 3512
Gestation period, 28 weeks: 3839
Gestation period, 10 weeks: 2112
Gestation period, 32 weeks: 5062
Gestation period, 8 weeks: 9944
Preterm labor in second trimester with preterm delivery in second trimester: 150
Preterm spontaneous labor with preterm delivery: 417
Term pregnancy: 3
Preterm labor with preterm delivery: 63
Single live birth: 35297
Preterm labor in third trimester with preterm delivery in third trimester: 186

## Create a function to calculate conception date based on standard_concept_name that provides gestational age in weeks.

In [8]:
#Create code to calculate conception date from standard_concept_name that gives gestational age

from datetime import timedelta

# Define a function to calculate the conception date
def calculate_conception(row):
    # Split the 'standard_concept_name' to extract the number of weeks
    concept_name_parts = row['standard_concept_name'].split()
    if len(concept_name_parts) == 4 and concept_name_parts[0] == "Gestation":
        try:
            weeks = int(concept_name_parts[2])
            # Calculate the conception date by subtracting 'weeks' from 'condition_start_datetime'
            conception_date = row['condition_start_date'] - timedelta(weeks=weeks)
            return conception_date
        except ValueError:
            pass
    return None

# Apply the function to create and fill the 'conception_date' column
filtered_birth_data.loc[:,'conception_date'] = filtered_birth_data.apply(calculate_conception, axis=1).copy()

conception_birth_data = filtered_birth_data.copy()

print(conception_birth_data.info)
conception_birth_data.sample(10)

<bound method DataFrame.info of         person_id                              standard_concept_name  \
0         1839526                         Gestation period, 27 weeks
1         1252623                         Gestation period, 27 weeks
2         6928661                         Gestation period, 27 weeks
3         1449784                         Gestation period, 27 weeks
4         1424008                         Gestation period, 27 weeks
...           ...                                                ...
173722    2335434  Preterm labor in third trimester with preterm ...
173723    1210649  Preterm labor in third trimester with preterm ...
173724    1155370  Preterm labor in third trimester with preterm ...
173725    2493897  Preterm labor in third trimester with preterm ...
173726    2292698  Preterm labor in third trimester with preterm ...

               condition_start_datetime condition_start_date conception_date
0             2021-06-07 00:00:00+00:00           2021-06-07      2020-11-30
1             2021-05-26 05:36:12+00:00           2021-05-26      2020-11-18
2             2022-03-22 04:41:44+00:00           2022-03-22      2021-09-14
3             2019-07-30 09:54:37+00:00           2019-07-30      2019-01-22
4             2017-04-13 04:56:02+00:00           2017-04-13      2016-10-06
...                                 ...                  ...             ...
173722        2019-11-07 05:00:00+00:00           2019-11-07            None
173723        2015-09-26 16:37:00+00:00           2015-09-26            None
173724        2018-09-14 19:15:56+00:00           2018-09-14            None
173725 2017-10-16 20:41:00.101000+00:00           2017-10-16            None
173726        2017-08-06 11:57:00+00:00           2017-08-06            None

[173727 rows x 5 columns]>

,person_id,standard_concept_name,condition_start_datetime,condition_start_date,conception_date
67977,1049928,"Gestation period, 21 weeks",2018-09-19 04:00:00+00:00,2018-09-19,2018-04-25
107648,2924588,"Gestation period, 19 weeks",2018-11-30 15:23:00+00:00,2018-11-30,2018-07-20
130071,1015897,"Gestation period, 8 weeks",2021-03-08 12:57:00+00:00,2021-03-08,2021-01-11
150474,3513215,Single live birth,2016-01-11 18:06:00+00:00,2016-01-11,None
132575,2047374,"Gestation period, 8 weeks",2019-09-20 00:00:00+00:00,2019-09-20,2019-07-26
116255,2557270,"Gestation period, 30 weeks",2018-06-20 18:08:00+00:00,2018-06-20,2017-11-22
128926,2848334,"Gestation period, 8 weeks",2015-11-04 04:52:03+00:00,2015-11-04,2015-09-09
123641,1864347,"Gestation period, 32 weeks",2019-09-19 05:00:00+00:00,2019-09-19,2019-02-07
97004,2576128,"Gestation period, 11 weeks",2020-12-16 14:34:00+00:00,2020-12-16,2020-09-30
7799,1009088,"Gestation period, 38 weeks",2019-03-08 06:00:00+00:00,2019-03-08,2018-06-15

# Calculate Gestational Age

In this section:

Calculate Gestational Age
- Sort by person_id, condition_start_date, and then standard_concept_name. Sorting by the latter will make sure that for the same date, all Gestational period entries will occur before the birth entry. 

- Calculate gestational_age_at_birth by subtracting condition_start_time for "Single live birth" from conception_date from measurements most accurate for determining minimum gestation length (e.g. 42 weeks, then 41, 40, etc).     

Explore entries
- Exploration of person_ids that have gestational ages that are unreasonably high (above 42 weeks) or low (less than 8 weeks and negaative entries, indicating that conception date was pulled from another person or another pregnancy.

## Calculate gestational age at birth for instances of birth concepts

(condition_start_date for birth concept - conception_date)

In [ ]:
#Apply loop to calculate gestional_age_at_birth to birth concepts that have gestational data available.
conception_copy = conception_birth_data.copy()

# Start measuring execution time
start_time = time.time()

# Sort the DataFrame by person_id and condition_start_date
conception_copy = conception_copy.sort_values(by=['person_id', 'condition_start_date', 'standard_concept_name', 'condition_start_datetime'])

birth_concepts = ['Single live birth', 'Preterm spontaneous labor with preterm delivery', 'Term pregnancy', 
                  'Preterm labor in second trimester with preterm delivery in second trimester', 
                  'Preterm labor in third trimester with preterm delivery in third trimester',
                  'Preterm labor with preterm delivery'
                 ]

for concept in birth_concepts:
    # Initialize a dictionary to store the most recent "Gestation period" and conception date for each person_id
    gestational_info = {}

    # Initialize a list to store birth dates
    birth_dates = []

    # Iterate through the DataFrame
    for idx, row in conception_copy.iterrows():
        person_id = row['person_id']

        if person_id not in gestational_info:
            gestational_info[person_id] = {'gestational_period': None, 'conception_date': None}

        current_gestational_period = gestational_info[person_id]['gestational_period']
        conception_date = gestational_info[person_id]['conception_date']

        if row['standard_concept_name'].startswith('Gestation period'):
            # Update the current gestational period
            gestational_info[person_id]['gestational_period'] = row['standard_concept_name']
            gestational_info[person_id]['conception_date'] = row['conception_date']

        if row['standard_concept_name'] == concept:
            if conception_date is not None:
                birth_dates.append((idx, row['condition_start_date']))
                last_idx, last_birth_date = birth_dates[-1]
                gestational_age = (pd.to_datetime(last_birth_date) - pd.to_datetime(conception_date)).days / 7
                conception_copy.at[last_idx, 'gestational_age_at_birth'] = gestational_age
                conception_date = None


# End measuring execution time
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Execution time: {elapsed_time} seconds")

# Display a sample of the updated DataFrame
gestational_age_data = conception_copy.copy()
gestational_age_data.sample(10)

### Gestational Age Min/Max and Number of Entries Added

In [ ]:
# Calculate min and max values of 'gestational_age_at_birth'
min_value = gestational_age_data['gestational_age_at_birth'].min()
max_value = gestational_age_data['gestational_age_at_birth'].max()

print(f"Range of gestational_age_at_birth: {min_value} to {max_value}")

# Calculate number of gestational ages added
added_gestational_ages = gestational_age_data['gestational_age_at_birth'].count()
print("Number of gestational ages added:", added_gestational_ages)

# Remove gestational age == na 
removed_entries_count = len(gestational_age_data)

for concept in birth_concepts:
    gestational_age_data = gestational_age_data[~((gestational_age_data['standard_concept_name'] == concept) & gestational_age_data['gestational_age_at_birth'].isna())]

removed_entries_count -= len(gestational_age_data)

print(f"{removed_entries_count} n/a entries were removed from the column gestational age at birth.")

## Dataset observations (also, remove gestational ages less than 22 and more than 45 weeks)

In [ ]:
#Checking numbers to see how the loop is working. 

#Missing gestation_age_at_birth (for example, birth occurred but no previous records attached)
birth_concepts = ['Single live birth', 'Preterm spontaneous labor with preterm delivery', 'Term pregnancy', 
                  'Preterm labor in second trimester with preterm delivery in second trimester', 
                  'Preterm labor in third trimester with preterm delivery in third trimester',
                  'Preterm labor with preterm delivery'
                 ]

negative_gestational_age = len(gestational_age_data[gestational_age_data['gestational_age_at_birth'] < 0])
greater_than_45_weeks = len(gestational_age_data[gestational_age_data['gestational_age_at_birth'] > 45])
lessthan22_gestational_age = len(gestational_age_data[gestational_age_data['gestational_age_at_birth'] < 22])

#Filter the DataFrame for gestational ages at birth between 22 and <=45 weeks
filtered_df_copy = gestational_age_data[(gestational_age_data['gestational_age_at_birth'] >= 22) & (gestational_age_data['gestational_age_at_birth'] <= 45)]

births_full_term = len(filtered_df_copy[(filtered_df_copy['gestational_age_at_birth'] >= 37)])
births_under_37_weeks = len(filtered_df_copy[(filtered_df_copy['gestational_age_at_birth'] < 37)])
births_late_preterm = len(filtered_df_copy[(filtered_df_copy['gestational_age_at_birth'] >= 32) & (filtered_df_copy['gestational_age_at_birth'] < 37)])
births_very_preterm = len(filtered_df_copy[(filtered_df_copy['gestational_age_at_birth'] >= 28) & (filtered_df_copy['gestational_age_at_birth'] < 32)])
births_extremely_preterm = len(filtered_df_copy[(filtered_df_copy['gestational_age_at_birth'] < 28)])

number_unique_ids = len(filtered_df_copy['person_id'].unique())

# Display the counts of entries deleted
print("Number of entries with negative gestational age deleted:", negative_gestational_age)
print("Number of entries with gestational age greater than 45 weeks deleted:", greater_than_45_weeks)
print("Number of entries with gestational age less than 22 weeks deleted", lessthan22_gestational_age)
print("Number of births that are full term >= 37 weeks:", births_full_term)
print("Number of births that are any class of Preterm:", births_under_37_weeks)
print("Number of births that are Late Preterm >= 32 and < 37 weeks:", births_late_preterm)
print("Number of births that are Very Preterm >= 28 weeks and < 32 weeks:", births_very_preterm)
print("Number of births that are Extremely Preterm < 28 weeks:", births_extremely_preterm)
print("Total number of births:", (births_full_term + births_under_37_weeks))
print("Percentage of births that are any class of preterm:", births_under_37_weeks / (births_full_term + births_under_37_weeks)  * 100)
print("Number of unique person_ids:", number_unique_ids)

min_gestational_age = filtered_df_copy['gestational_age_at_birth'].min()
print(f"The minimum gestational age at birth in this dataset is: {min_gestational_age} weeks")

max_gestational_age = filtered_df_copy['gestational_age_at_birth'].max()
print(f"The max gestational age at birth in this dataset is: {max_gestational_age} weeks")

gestational_age_data = filtered_df_copy.copy()

# Classify births into term or preterm class based on gestational age at birth

Term >= 37 weeks  
37 weeks > Preterm >= 22 weeks

In [ ]:
gestational_age_data = filtered_df_copy.copy()

In [ ]:
# Create a new column "birth_class" and set it to 'Unknown' initially
gestational_age_data['birth_class'] = 'Unknown'

# Fill in the birth class column based on gestational age at birth.
gestational_age_data.loc[(gestational_age_data['gestational_age_at_birth'] >= 37), 'birth_class'] = 'Term'
gestational_age_data.loc[(gestational_age_data['gestational_age_at_birth'] >= 22) & (gestational_age_data['gestational_age_at_birth'] < 37), 'birth_class'] = 'Preterm'

#Remove all lines that contain birth class == Unknown (e.g. remove gestational findings, etc)
birth_class_data = gestational_age_data[gestational_age_data['birth_class'] != 'Unknown']

print(len(birth_class_data))

birth_class_data.sample(10)

# Prepare data for model

## Keep only relevant columns

In [ ]:
selected_columns = ["person_id", "condition_start_date", "birth_class", "gestational_age_at_birth"]
filtered_birth_data = birth_class_data[selected_columns]

filtered_birth_data.info

## Remove births that occur on the same date for a given person_id

In [ ]:
starting_count = len(filtered_birth_data)
print("Number of births before removing duplicates", starting_count)

# Mark duplicates based on 'person_id' and 'condition_start_date' and keep the first entry
filtered_birth_data['is_duplicate'] = filtered_birth_data.duplicated(subset=['person_id', 'condition_start_date'], keep='first')

# Keep only the rows where 'is_duplicate' is False (i.e., keep the first entry of each group)
filtered_birth_data = filtered_birth_data[~filtered_birth_data['is_duplicate']]

# Drop the 'is_duplicate' column if you don't need it anymore
filtered_birth_data = filtered_birth_data.drop(columns=['is_duplicate'])

# Reset the index of the resulting DataFrame
filtered_birth_data = filtered_birth_data.reset_index(drop=True)

final_count = len(filtered_birth_data)
print("Number of duplicate births removed", starting_count-final_count)
print("Number of births after removing duplicates", final_count)

filtered_birth_data.sample(10)

## Now remove those that occur within 154 days (22 weeks) of each other

In [ ]:
# Convert 'condition_start_date' to datetime format
filtered_birth_data['condition_start_date'] = pd.to_datetime(filtered_birth_data['condition_start_date'])

# Sort by 'person_id' and 'condition_start_date'
filtered_birth_data = filtered_birth_data.sort_values(['person_id', 'condition_start_date'])

# Calculate the time difference within each 'person_id' group
filtered_birth_data['time_diff'] = filtered_birth_data.groupby(['person_id'])['condition_start_date'].diff()

# Create a mask for entries where time_diff is null or greater than 1 day
mask_keep = (filtered_birth_data['time_diff'].isnull()) | (filtered_birth_data['time_diff'].dt.days > 154)

# Count the number of entries before filtering
entries_before = len(filtered_birth_data)

# Keep only the rows where the mask is True
filtered_birth_data = filtered_birth_data[mask_keep]

# Count the number of entries after filtering
entries_after = len(filtered_birth_data)

# Print the number of entries removed and kept
entries_removed = entries_before - entries_after
print(f"Entries removed: {entries_removed}")
print(f"Entries kept: {entries_after}")

# Drop the additional columns if you don't need them anymore
filtered_birth_data = filtered_birth_data.drop(columns=['time_diff'])

# Reset the index of the resulting DataFrame
filtered_birth_data = filtered_birth_data.reset_index(drop=True)

filtered_birth_data.sample(10)

### Engineer feature that keeps track of birth order

In [ ]:
#Sort by person_id and condition_start_date
final_birth_data = filtered_birth_data.sort_values(by=["person_id", "condition_start_date"])

# Calculate birth_order
final_birth_data["birth_order"] = final_birth_data.groupby("person_id").cumcount() + 1

final_birth_data.head(20)
final_birth_data.info

In [ ]:
# Create categories and a dictionary to store statistics for each category
categories = ['Term', 'Preterm']
category_stats = {}

# Calculate and store statistics for each category
for category in categories:
    category_data = final_birth_data[final_birth_data['birth_class'] == category]
    if not category_data.empty:
        category_stats[category] = category_data.describe()

# Display the statistics for each category
for category, stats in category_stats.items():
    print(f"Statistics for {category}:")
    print(stats)
    print()

In [ ]:
import matplotlib.pyplot as plt

# All Term Births
plt.style.use("seaborn-whitegrid")
term_cases = final_birth_data[final_birth_data['birth_class'] == 'Term']
plt.hist(term_cases['gestational_age_at_birth'], bins=10, alpha=0.6, color='green', edgecolor='black', label='All Term')
plt.xlabel('Gestational Age at Birth')
plt.ylabel('Number of Births')
plt.title('Distribution of All Term Births')
plt.xlim(10, 45) 
plt.show()


# All Preterm Births
non_term_cases = final_birth_data[final_birth_data['birth_class'] != 'Term']
plt.style.use("seaborn-whitegrid")
plt.hist(non_term_cases['gestational_age_at_birth'], bins=50, alpha=0.6, color='orange', edgecolor='black', label='All Preterm')
plt.xlabel('Gestational Age at Birth')
plt.ylabel('Number of Births')
plt.title('Distribution of All Preterm Births')
plt.xlim(10, 45) 
plt.show()


#All Births
plt.style.use("seaborn-whitegrid")
plt.hist(term_cases['gestational_age_at_birth'], bins=10, alpha=0.6, color='green', edgecolor='black', label='All Term')
plt.hist(non_term_cases['gestational_age_at_birth'], bins=50, alpha=0.6, color='orange', edgecolor='black', label='All Preterm')
plt.xlabel('Gestational Age at Birth')
plt.ylabel('Number of Births')
plt.title('Distribution of All Births')
plt.xlim(10, 45) 
plt.show()

## Final dataframe is called final_birth_data

# Importing the Demographic Data From All of Us (Features)

## Importing the *Person* data

In [ ]:
import pandas
import os

# This query represents dataset "AS_KG_Dataset" for domain "person" and was generated for All of Us Controlled Tier Dataset v7
dataset_30352193_person_sql = """
    SELECT
        person.person_id,
        person.gender_concept_id,
        p_gender_concept.concept_name as gender,
        person.birth_datetime as date_of_birth,
        person.race_concept_id,
        p_race_concept.concept_name as race,
        person.ethnicity_concept_id,
        p_ethnicity_concept.concept_name as ethnicity,
        person.sex_at_birth_concept_id,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.person` person 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_gender_concept 
            ON person.gender_concept_id = p_gender_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id,
                            entry_date,
                            concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (
                                concept_id IN (
                                    SELECT
                                        DISTINCT c.concept_id 
                                    FROM
                                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                                    JOIN
                                        (
                                            select
                                                cast(cr.id as string) as id 
                                            FROM
                                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                                            WHERE
                                                concept_id IN (36712702, 45757176, 4014295) 
                                                AND full_text LIKE '%_rank1]%'
                                        ) a 
                                            ON (
                                                c.path LIKE CONCAT('%.',
                                            a.id,
                                            '.%') 
                                            OR c.path LIKE CONCAT('%.',
                                            a.id) 
                                            OR c.path LIKE CONCAT(a.id,
                                            '.%') 
                                            OR c.path = a.id) 
                                        WHERE
                                            is_standard = 1 
                                            AND is_selectable = 1
                                        ) 
                                        AND is_standard = 1 
                                )
                            ) criteria 
                        ) )  
                    AND (person.PERSON_ID IN (SELECT
                        DISTINCT person_id  
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` 
                    WHERE
                        has_ehr_data = 1))"""

dataset_30352193_person_df = pandas.read_gbq(
    dataset_30352193_person_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

#dataset_30352193_person_df.head(5)

## Importing the *Zip Code* data

In [ ]:
import pandas
import os

# This query represents dataset "AS_KG_Dataset" for domain "zip_code_socioeconomic" and was generated for All of Us Controlled Tier Dataset v7
dataset_30352193_zip_code_socioeconomic_sql = """
    SELECT
        observation.person_id,
        observation.observation_datetime,
        zip_code.zip3_as_string as zip_code,
        zip_code.fraction_assisted_income as assisted_income,
        zip_code.fraction_high_school_edu as high_school_education,
        zip_code.median_income,
        zip_code.fraction_no_health_ins as no_health_insurance,
        zip_code.fraction_poverty as poverty,
        zip_code.fraction_vacant_housing as vacant_housing,
        zip_code.deprivation_index,
        zip_code.acs as american_community_survey_year 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.zip3_ses_map` zip_code 
    JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.observation` observation 
            ON CAST(SUBSTR(observation.value_as_string,
        0,
        STRPOS(observation.value_as_string,
        '*') - 1) AS INT64) = zip_code.zip3  
    WHERE
        observation.PERSON_ID IN (
            SELECT
                distinct person_id  
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
            WHERE
                cb_search_person.person_id IN (
                    SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id,
                            entry_date,
                            concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (
                                concept_id IN (
                                    SELECT
                                        DISTINCT c.concept_id 
                                    FROM
                                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                                    JOIN
                                        (
                                            select
                                                cast(cr.id as string) as id 
                                            FROM
                                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                                            WHERE
                                                concept_id IN (36712702, 45757176, 4014295) 
                                                AND full_text LIKE '%_rank1]%'
                                        ) a 
                                            ON (
                                                c.path LIKE CONCAT('%.',
                                            a.id,
                                            '.%') 
                                            OR c.path LIKE CONCAT('%.',
                                            a.id) 
                                            OR c.path LIKE CONCAT(a.id,
                                            '.%') 
                                            OR c.path = a.id) 
                                        WHERE
                                            is_standard = 1 
                                            AND is_selectable = 1
                                        ) 
                                        AND is_standard = 1 
                                )
                            ) criteria 
                        ) ) 
                    AND observation_source_concept_id = 1585250 
                    AND observation.value_as_string NOT LIKE 'Res%'"""

dataset_30352193_zip_code_socioeconomic_df = pandas.read_gbq(
    dataset_30352193_zip_code_socioeconomic_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

#dataset_30352193_zip_code_socioeconomic_df.head(5)

# Combining each data frame into a single data frame

## Importing needed packages

In [ ]:
import pandas as pd

## Renaming individual data frames and dropping columns we don't need

In [ ]:
# condition_df

condition_df = final_birth_data



# person_df

person_df_drop_columns = ['gender_concept_id', 'race_concept_id', 'ethnicity_concept_id', 'sex_at_birth_concept_id']

person_df = dataset_30352193_person_df.drop(columns=person_df_drop_columns)



# zip_df

# note this wikipedia list of zip_code prefixes (i.e. first 3 digits):
# https://en.wikipedia.org/wiki/List_of_ZIP_Code_prefixes

zip_df = dataset_30352193_zip_code_socioeconomic_df

## Finding common values of *person_id* and restricting data frames to rows with common values

In [ ]:
# create a dictionary of values of person_id and multiplicities in each data frame

## start by creating sets of unique ids

unique_ids_condition = list(condition_df.person_id.unique())
unique_ids_person = list(person_df.person_id.unique())
unique_ids_zip = list(zip_df.person_id.unique())

In [ ]:
## create a set of values of person_id that occur in each data frame
## we then sort common_ids in ascending order

## since we only have four data frames, easy to construct full hierarchy, if we want

common_ids = []

for pid in unique_ids_condition:
    if (pid in unique_ids_person) and (pid in unique_ids_zip):
        common_ids.append(pid)

common_ids.sort()

In [ ]:
## restrict data frames to rows with personal_id values in common_ids
## Also, we sort by person_id

## For restricted condition, we primarily sort by person_id, but
## for each value of person_id, we then sort by birth order

restricted_condition = condition_df[condition_df["person_id"].isin(common_ids)].copy().sort_values(by=["person_id", "birth_order"])
restricted_person = person_df[person_df["person_id"].isin(common_ids)].copy().sort_values(by=["person_id"])
restricted_zip = zip_df[zip_df["person_id"].isin(common_ids)].copy().sort_values(by=["person_id"])

## Merging *restricted_person* and *restricted_zip*

In [ ]:
## restricted_condition, restricted_person, and restricted_zip all have the same values of person_id occuring in them
## each value of person_id occurs only once in restricted_person and restricted_zip
## we start by simply merging restricted_person and restricted_zip along person_id

combined_df_half = pd.merge(restricted_person, restricted_zip, on='person_id')

## next, we rename the columns to identify which data frame they originally came from

person_zip_col_dict = {}

for col in restricted_person.columns:
    if col != 'person_id':
        person_zip_col_dict[col] = col+"_person"

for col in restricted_zip.columns:
    if col != 'person_id':
        person_zip_col_dict[col] = col+"_zip"

combined_df_half = combined_df_half.rename(columns=person_zip_col_dict)

## Adding the *condition* data

### We start by splitting up *restricted_condition* by *birth_order*

In [ ]:
#KATIE CHANGED THIS NOV 15 by uncommenting multiple births
## Note that as of 11 Nov 2023, we see
## Everyone has a first birth
## 3127 out of 11952 have a second birth
## 467 out of 11952 have a third birth
## For run time concerns, we only include first and second births


first_birth = restricted_condition[restricted_condition['birth_order'] == 1].copy().sort_values(by=["person_id"])
second_birth = restricted_condition[restricted_condition['birth_order'] == 2].copy().sort_values(by=["person_id"])
third_birth = restricted_condition[restricted_condition['birth_order'] == 3].copy().sort_values(by=["person_id"])
fourth_birth = restricted_condition[restricted_condition['birth_order'] == 4].copy().sort_values(by=["person_id"])
fifth_birth = restricted_condition[restricted_condition['birth_order'] == 5].copy().sort_values(by=["person_id"])

### Next, use a loop to make the birth dataframes we will concatenate for combined_df

In [ ]:
import pandas as pd

# Assuming combined_df_half is defined somewhere before this code snippet
combined_df_half = combined_df_half.sort_values(by=["person_id"])

birth_dfs = [first_birth, second_birth, third_birth, fourth_birth, fifth_birth]

birth_dataframes = []

for i, birth_df in enumerate(birth_dfs, start=1):
    combined_df = combined_df_half.copy()
    birthers = birth_df.person_id.tolist()
    combined_df = combined_df[combined_df['person_id'].isin(birthers)].sort_values(by=["person_id"])
    combined_df = pd.merge(combined_df, birth_df, on='person_id')
    birth_dataframes.append(combined_df)

# Concatenate all birth dataframes
combined_df = pd.concat(birth_dataframes)

# Sort and reset index
combined_df = combined_df.sort_values(by=["person_id", "birth_order"]).reset_index(drop=True)

# Print information about the DataFrame
print(combined_df.info())

## The final data frame

### We rename the data frame as *birth* and add a copy of *birth_class* as a binary variable

In [ ]:
birth = combined_df.copy()#.drop(columns=['index'])

birth['birth_class_binary'] = 0

birth.loc[birth.birth_class=='Preterm', 'birth_class_binary'] = 1

In [ ]:
pd.options.display.max_columns = None
birth.head(8)

### Engineer age_at_birth from date_of_birth_person and condition_start_date

In [ ]:
birth['date_of_birth_person'] = pd.to_datetime(birth['date_of_birth_person'])  

birth['date_of_birth_person'] = birth['date_of_birth_person'].dt.date

birth['date_of_birth_person'] = pd.to_datetime(birth['date_of_birth_person'])
birth['condition_start_date'] = pd.to_datetime(birth['condition_start_date'])

# Engineer the 'age_at_birth' feature
birth['age_at_birth'] = (birth['condition_start_date'] - birth['date_of_birth_person']).dt.days // 365.25

### Engineer Interactions

Based on domain knowledge and our data, we considered engineering interactions. However, ultimately we did not have enough observations for this technique to be effective.

- median income and race
- high school education and race
- high school education and ethnicity
- median income and age
- median income and education

### Build pipeline for one-hot encoding and for scaling

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

categorical_columns = ['race_person', 'ethnicity_person', 'birth_order']
numeric_columns = ['assisted_income_zip', 'high_school_education_zip', 'median_income_zip',
                          'no_health_insurance_zip', 'poverty_zip', 'vacant_housing_zip',
                          'deprivation_index_zip', 'age_at_birth']


preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_columns),
          ('num', StandardScaler(), numeric_columns)
    ],
    remainder='passthrough'  # Keeps the non-categorical columns as they are
)

### Remove columns that will not be used as features

In [ ]:
birth.drop(['gender_person', 'sex_at_birth_person', 'observation_datetime_zip'], axis=1, inplace=True)
birth.drop(['zip_code_zip', 'american_community_survey_year_zip'], axis=1, inplace=True)
birth.drop(['date_of_birth_person'], axis=1, inplace=True)

### Reduce dimensionality in race and ethnicity for 'no answers'

In [ ]:
values_to_replace = ['PMI: Skip', 'None Indicated', 'I prefer not to answer', 'PMI: Prefer Not to Answer', 'PMI: Prefer Not To Answer']
replacement_value = 'no answer'

birth['race_person'].replace(values_to_replace, replacement_value, inplace=True)
birth['ethnicity_person'].replace(values_to_replace, replacement_value, inplace=True)


values_to_replace = ['What Race Ethnicity: Race Ethnicity None Of These']
replacement_value = 'None of these'

birth['ethnicity_person'].replace(values_to_replace, replacement_value, inplace=True)

### Check datatypes

In [ ]:
print(birth.dtypes)

#### Notebook ready for export to models notebook
- final dataframe is 'birth'
- response variable is 'birth_class_binary'
- 'preprocessor' is pipeline for one-hot encoding race and ethnicity and scaling numerical features